@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

.header {
  display: flex;
  height: 102px;
  margin: auto 32px;
  align-items: center;

  /* outline: 1px solid black ; */
}

.container {
  max-width: 1376px;
  margin: auto 122px;
}

.header-logo {
  color: #1090cb;
  font-family: Poppins;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-decoration: none;
}

.header-logo,
.header-nav {
  width: 50%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}

.nav a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;

  margin: auto;
}

.nav a:first-child {
  margin-left: 40px;
}

.nav .nav-home {
  /* margin-left: 40px; */

  color: #1090cb;

  /* Base */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  position: relative;
}

.nav .nav-home img {
  position: absolute;
  top: -4px;
  left: -8px;
}

.nav .nav-aboutus {
  /* margin-left: 40px; */

  color: #1090cb;

  /* Base */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  position: relative;
}

.nav .nav-aboutus img {
  position: absolute;
  top: -4px;
  left: -8px;
}

.nav .nav-services {
  /* margin-left: 40px; */

  color: #1090cb;

  /* Base */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  position: relative;
}

.nav .nav-services img {
  position: absolute;
  top: -4px;
  left: -8px;
}

.nav a:hover {
  color: #1090cb;
}

.header-contactus {
  width: 125px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #1090cb;

  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  display: flex;
  justify-content: center;

  align-items: center;
}

/* -------------------------------------------------------- */

.experienced {
  background: rgba(16, 144, 203, 0.1);
  height: 100vh;

  border-top: 0.7px solid #c4c4c4;

  position: relative;
}

.experienced-main {
  display: flex;
}

.experienced-img {
  width: 100%;
}

/* .experienced-main, .experienced-img{
    width: 50%;
} */

.experienced-side {
  display: flex;
  flex-direction: column;
  margin-top: 128px;
  gap: 64px;
}


.experienced-aside{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.experienced-title {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.experienced-title-span {
  color: #1090cb;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.experienced-text {
  color: #5c5c5c;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.3%; /* 32.688px */
}

.experienced-button {
  display: flex;
  gap: 15px;
}

.experienced-contactus {
  width: 193px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #1090cb;

  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  display: flex;
  justify-content: center;

  align-items: center;
}

.experienced-viewmore {
  width: 193px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #1090cb;

  color: #1090cb;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  display: flex;
  justify-content: center;

  align-items: center;
}



.right-vector{
    position: relative;
    top: -400px;
    left: 0px;
}