@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

.header {
  display: flex;
  height: 102px;
  margin: auto 32px;
  align-items: center;

  /* outline: 1px solid black ; */
}

.container {
  max-width: 1376px;
  margin: auto 122px;
}

.header-logo {
  color: #1090cb;
  font-family: Poppins;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-decoration: none;
}

.header-logo,
.header-nav {
  width: 50%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}

.nav a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;

  margin: auto;
}

.nav a:first-child {
  margin-left: 40px;
}

.nav .nav-home {
  /* margin-left: 40px; */

  color: #1090cb;

  /* Base */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  position: relative;
}

.nav .nav-home img {
  position: absolute;
  top: -4px;
  left: -8px;
}

.nav .nav-aboutus {
  /* margin-left: 40px; */

  color: #1090cb;

  /* Base */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  position: relative;
}

.nav .nav-aboutus img {
  position: absolute;
  top: -4px;
  left: -8px;
}

.nav .nav-services {
  /* margin-left: 40px; */

  color: #1090cb;

  /* Base */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  position: relative;
}

.nav .nav-services img {
  position: absolute;
  top: -4px;
  left: -8px;
}

.nav a:hover {
  color: #1090cb;
}

.header-contactus {
  width: 125px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #1090cb;

  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  display: flex;
  justify-content: center;

  align-items: center;
}

/* -------------------------------------------------------- */

.experienced {
  background: rgba(16, 144, 203, 0.1);
  height: 738px;

  border-top: 0.7px solid #c4c4c4;

  position: relative;
}

.experienced-main {
  display: flex;
}

.experienced-img {
  width: 100%;
}

/* .experienced-main, .experienced-img{
    width: 50%;
} */

.experienced-side {
  display: flex;
  flex-direction: column;
  margin-top: 128px;
  gap: 64px;
}

.experienced-aside {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.experienced-title {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.experienced-title-span {
  color: #1090cb;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.experienced-text {
  color: #5c5c5c;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.3%; /* 32.688px */
}

.experienced-button {
  display: flex;
  gap: 15px;
}

.experienced-contactus {
  width: 193px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #1090cb;

  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  display: flex;
  justify-content: center;

  align-items: center;
}

.experienced-viewmore {
  width: 193px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #1090cb;

  color: #1090cb;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
  display: flex;
  justify-content: center;

  align-items: center;
}

.right-vector {
  position: absolute;
  top: 260px;
  left: 0px;
}

.left-vector {
  position: absolute;
  z-index: 999;
  /* top: -510px;
    right: -1336px; */
  top: 280px;
  left: 1403px;
}

/* ------------------web----------------------------- */

.web {
  display: flex;
  justify-content: space-between;
  height: 164px;
  border-bottom: 0.7px solid #c4c4c4;
}

.web-sec {
  display: flex;
  gap: 16px;
  align-items: center;
}

.web-img {
  width: 83px;
  height: 83px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #efeaff;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.web-img-2 {
  border-radius: 20px;
  background: #ecffda;
}

.web-img-3 {
  border-radius: 20px;
  background: #dae6ff;
}

.web-img-4 {
  border-radius: 20px;
  background: #ffe5da;
}

.web-img img {
  margin: auto;
}

.web-card-title {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 35px */
}

.web-card-text {
  color: #969696;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 26.25px */
}

/* -------------------------footer-------------------- */
.footer {
  display: flex;
  justify-content: space-between;
  gap: 130px;

  margin: 88px 100px 60px 120px;
  height: 160px;
}

.footer-column1 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 158px;
}

.footer-logo {
  color: #00329b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-lorem {
  color: #515151;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-column2{
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 158px;
}

.footer-column3{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 158px;
}

.footer-aboutus {
  color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-about{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column4 {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  height: 158px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 4px 4px 4px 4px;
  /* box-shadow: (0px 4px 14px rgba(0, 0, 0, 0.15)); */
}




.copy {
  height: 80px;
  border-top: 0.7px solid #c4c4c4;
}

.copyright {
  color: #686868;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 190.6%; /* 24.778px */

  text-align: center;
  margin: 28px auto;
}
